{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div id="body">
		<div id="featured">
			<h3>We are looking for prospective candidates to join our team as PhD and postdoc fellows with motivation and interest to pursue a career in molecular genetics.</h3>
		</div>
		<div id="content">
			<div id="contact">
							</p>
				<div>
					<div>
						<h3>Lab details</h3>
						<h3>Location</h3>
						<p>
							421, School of Biological Sciences, <br>
							National Institute of Science Education and Research(NISER),<br>
							PO-Bhimpur-Padanpur,<br> Via-Jatni,<br> District:-Khurda
							PIN:-752050
						</p>
						<h3>Email</h3>
						<p>
							<a href="arahaman@niser.ac.in" class="email" target="_blank">arahaman@niser.ac.in</a>
						</p>
						<h3>Call</h3>
						<p>
							+91-674-249407
						</p>
						<h3>Lab hours</h3>
						<p>
							Monday to Friday : 9AM - 8PM
						</p>
					</div>
					<img src="{% static './images/logo2.png' %}">
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
