{% extends 'base.html'%}
{% load static %}
{% block content %}
<div id="body">
		<div id="featured">
			<div class="section">
				<img src="images/perfectfit2.jpg" alt="Image">
				<div>
					<h2>This is just a place holder</h2>
					<p>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us. If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us.  You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us.
					</p>
				</div>
			</div>
		</div>
		<div id="content">
		</div>
	</div>
{% endblock content %}
