{% extends 'base.html'%}
{% load static %}
{% block content %}
<div id="body">
	{% for project in projects %}
	<div id="featured">
		<div class="section">
			<img src="{% if project.image %}
		    {{project.image.url}}
		    {% else %}
		    {% static './img/default_res_image.png' %}
		    {% endif %}" alt="Image">
			<div>
				<h2>{{project.title}}</h2>
				<p>{{project.context}}<br>-{{project.grant_support}}</p>
			</div>
		</div>
	</div>
	{% endfor %}
	<div id="content">
	</div>
</div>
{% endblock content %}
